In [ ]:
# print 0 to 20 by using range

In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
# print range 10 to 20

In [2]:
for num in range(10,20):
    print(num, end=' ')

10 11 12 13 14 15 16 17 18 19

In [ ]:
# Print number of items in the list by using 'len'

In [3]:
numList=[10, 20, 14, 55, 43, 87, 76]
print(numList)
print("Number of items in the List2:", '\n', len(numList))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List2:
 7

In [4]:
text="Artificial Intelligence"
print(text)
for word in text:
    print(word)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [5]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [10]:
# Print this mixered datatype using Tuples
tuple=(1, 'Welcome', 2, 'Hope')
print(tuple)

(1, 'Welcome', 2, 'Hope')

In [14]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('python', 'HOPE')
print((Tuple1,Tuple2))

((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
# print Odd Numbers in the list
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for n in numbers:
    if(n%2==1):
        print(n , "is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [18]:
#  print Even numbers in the list
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for n in numbers:
    if(n%2==0):
        print(n , "is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even